NODE_ENV=production
PORT=3000
DATABASE=mongodb+srv://<username>:<password>@<cluster-url>/marketplace?appName=Cluster0

JWT_SECRET=replace-with-a-long-random-secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USERNAME=your_mailtrap_username
EMAIL_PASSWORD=your_mailtrap_password
